# Core Logic & Simulation
exifread==3.0.0
numpy
torch
pandas
pydantic-settings

# Database & Storage
lancedb
pyarrow

# AI & Computer Vision
opencv-python
pillow
torch
torchvision
ftfy
regex
tqdm
git+https://github.com/openai/CLIP.git
transformers>=4.45.0
accelerate

# AI providers
ollama
openai
python-dotenv
tenacity

# UI & Web
fastapi==0.127.0
fastcore==1.9.6
starlette==0.50.0
python-fasthtml==0.12.36
monsterui==1.0.36
folium==0.14.0